// Header area with logo and 'Contact Me' button
$size_0: 0px;
$size_1: 1px;
$size_8: 8px;
$size_14: 14px;
$size_15: 15px;
$size_16: 16px;
$size_20: 20px;
$size_28: 28px;
$size_50: 50px;
$size_75: 75px;
$size_100: 100px;

$logo_url: "/../../../images/logo.png";

.header_bar {
  // Settings for logo that will stay the same no matter the screen size
  #logo {
    background: url($logo_url) no-repeat;
    background-size: contain;  // Whole logo will be viewable no matter what size it is made
    float: left;  // Keep logo on the left of the screen
  } // END #logo

  // 'Contact Me' button
  .contact_me {
    background: -webkit-linear-gradient($magenta-color,$cyan-color);
    background: -moz-linear-gradient($magenta-color,$cyan-color);
    background: -o-linear-gradient($magenta-color,$cyan-color);
    background: linear-gradient($magenta-color,$cyan-color);

    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;

    background-size:$size_1 $size_100;  // Because gradients do not work on transition we have to move the whole background and that is why the size is so big

    border: $size_0;
    border-radius: $size_8;

    font-size: $size_16;
    cursor: pointer;
    display: inline-block;
    float:right;

    &:hover {
      background-position: $size_100; // Because gradients do not work on transition we have to move the whole background and that is why the size is so big
    } // END &:hover
  } // END .contact_me

  @include breakpoint($small) {
    height: $size_50;

    // Settings for logo on small screens
    #logo {
      width: $size_50;
      height: $size_50;
    } // END #logo

    .contact_me {
      padding: $size_15 $size_20;
    } // END .contact_me
  } // END @include breakpoint($small)

  @include breakpoint($medium) {
    height: $size_75;

    // Settings for logo on medium screens
    #logo {
      width: $size_75;
      height: $size_75;
    } // END #logo

    .contact_me {
      padding: $size_14 $size_28;
    } // END .contact_me
  } // END @include breakpoint($medium)

  @include breakpoint($large) {
    height: $size_75;

    // Settings for logo on large screens
    #logo {
      width: $size_75;
      height: $size_75;
    } // END #logo

    .contact_me {
      padding: $size_14 $size_28;
    } // END .contact_me
  } // END @include breakpoint($large)

  @include breakpoint($x-large) {
    height: $size_75;

    // Settings for logo on x-large screens
    #logo {
      width: $size_75;
      height: $size_75;
    } // END #logo

    .contact_me {
      padding: $size_14 $size_28;
    } // END .contact_me
  } // END @include breakpoint($x-large)
} // END .header_bar
