html, body {
  font-family: $system-font;
  font-size: 100%;
}

body {
  background-color: #fff;
  color:#505050;
  margin: 0;
  padding: 15px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img, svg { max-width: 100%; }
